<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!-- HTML Script 정보 Set -->
    <th:block th:fragment="script">
        <!-- Bootstrap/Jquery core JavaScript-->
        <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="/META-INF/resources/webjars/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <th:block layout:fragment="contentsScript"></th:block>
        <!-- Custom scripts for this pages-->
        <th:block layout:fragment="customScript"></th:block>
    </th:block>
</html>